<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="21EC2020-3AEA-1069-A2DD-08002B30309D" Name="Regelmaker" Language="1033" Version="1.0.0.0" Manufacturer="KUL" UpgradeCode="21EC2020-3AEA-1069-A2DD-08002B30309D">
		<Package Description="Regelmaker" Comments="Hiermee wordt het programma Regelmaker geinstalleerd" Manufacturer="KUL" InstallerVersion="200" Compressed="yes" />
		<Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
		
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="APPLICATIONROOTDIRECTORY" Name="Regelmaker"/>				
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="Regelmaker"/>
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop"/>
		</Directory>
		
		<DirectoryRef Id="APPLICATIONROOTDIRECTORY">
			<Component Id="ruleCreator" Guid="21EC2020-3AEA-1069-A2DD-08002B30309D">
				<File Id="rc" Name="ruleCreator.exe" DiskId="1" Source="ruleCreator.exe">
					<Shortcut Advertise="yes"
						Id="MyProductDesktopShortcut"
						Directory="DesktopFolder"
						Name="Regelmaker"
						WorkingDirectory="APPLICATIONROOTDIRECTORY"
						Description="Voer regelmaker uit"
						Icon="Icon.exe">
						<Icon Id="Icon.exe" SourceFile="ruleCreator.exe" />
					</Shortcut>
				</File>
				<File Id="gcc" Name="libgcc_s_dw2-1.dll" DiskId="1" Source="libgcc_s_dw2-1.dll" />
				<File Id="mingw" Name="mingwm10.dll" DiskId="1" Source="mingwm10.dll" />
				<File Id="phonon" Name="phonon4.dll" DiskId="1" Source="phonon4.dll" />
				<File Id="core" Name="QtCore4.dll" DiskId="1" Source="QtCore4.dll" />
				<File Id="gui" Name="QtGui4.dll" DiskId="1" Source="QtGui4.dll" />
				<File Id="network" Name="QtNetwork4.dll" DiskId="1" Source="QtNetwork4.dll" />
				<File Id="webkit" Name="QtWebKit4.dll" DiskId="1" Source="QtWebKit4.dll" />
				
				<File Id="lucene" Name="QtCLucene4.dll" DiskId="1" Source="QtCLucene4.dll" />
				<File Id="help" Name="QtHelp4.dll" DiskId="1" Source="QtHelp4.dll" />
				<File Id="sql" Name="QtSql4.dll" DiskId="1" Source="QtSql4.dll" />
				<File Id="xml" Name="QtXml4.dll" DiskId="1" Source="QtXml4.dll" />
				
				<File Id="config" Name="config.json" DiskId="1" Source="config.json" />
				<File Id="json" Name="libqjson.dll" DiskId="1" Source="libqjson.dll" />
				<File Id="doc_qch" Name="doc.qch" DiskId="1" Source="doc.qch" />
				<File Id="doc_qhc" Name="doc.qhc" DiskId="1" Source="doc.qhc" />
				
				<File Id="pokerRuleSystem_nl_BE.qm" Name="pokerRuleSystem_nl_BE.qm" DiskId="1" Source="pokerRuleSystem_nl_BE.qm" />
				<File Id="ruleCreator_nl_BE.qm" Name="ruleCreator_nl_BE.qm" DiskId="1" Source="ruleCreator_nl_BE.qm" />
				<File Id="ruleSystem_nl_BE.qm" Name="ruleSystem_nl_BE.qm" DiskId="1" Source="ruleSystem_nl_BE.qm" />
				
				<File Id="cardEquation_png" Name="cardEquation.png" DiskId="1" Source="cardEquation.png" />
				<File Id="raisepairbase_png" Name="raisepairbase.png" DiskId="1" Source="raisepairbase.png" />
				<File Id="raisepairfull_png" Name="raisepairfull.png" DiskId="1" Source="raisepairfull.png" />
				<File Id="truecall_png" Name="truecall.png" DiskId="1" Source="truecall.png" />
				<File Id="welcomeWindow_png" Name="welcomeWindow.png" DiskId="1" Source="welcomeWindow.png" />
				<File Id="window_png" Name="window.png" DiskId="1" Source="window.png" />
				<File Id="windowBottom_png" Name="windowBottom.png" DiskId="1" Source="windowBottom.png" />
				<File Id="windowLeft_png" Name="windowLeft.png" DiskId="1" Source="windowLeft.png" />
				<File Id="windowMiddle_png" Name="windowMiddle.png" DiskId="1" Source="windowMiddle.png" />
				<File Id="windowRight_png" Name="windowRight.png" DiskId="1" Source="windowRight.png" />
				<File Id="windowTop_png" Name="windowTop.png" DiskId="1" Source="windowTop.png" />
			</Component>
		</DirectoryRef>
		
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="21EC2020-3AEA-1069-A2DD-08002B30309A">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="Regelmaker" Description="Uitleg over regelmaker" Target="[APPLICATIONROOTDIRECTORY]ruleCreator.exe" WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\Regelmaker" Name="Installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
        </DirectoryRef>
		
		<Feature Id="MyFeature" Title="My 1st Feature" Level="1">
			<ComponentRef Id="ruleCreator" />
			<ComponentRef Id="ApplicationShortcut" />
		</Feature>
		
		<!-- User Interface -->
		<UI>
			<UIRef Id="WixUI_InstallDir" />
			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
			<Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
		</UI>
		<Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONROOTDIRECTORY" />
		
		<!-- Custom actions -->
		<CustomAction Id="StartAppOnExit" FileKey="rc" ExeCommand="" Execute="immediate" Impersonate="yes" Return="asyncNoWait" />
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Voer regelmaker uit" />
		<UI>	
			<Publish Dialog="ExitDialog" Control="Finish" Order="1" Event="DoAction" Value="StartAppOnExit">
				WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
			</Publish>
		</UI>
	</Product>
</Wix>
 